body{

    background-color: white;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

.header{
    background-color: darkorange;
    color: white;
}

.mainContainer{
    
    margin-bottom: 100px;
}



#forecastDiv1, #forecastDiv2 ,#forecastDiv3,#forecastDiv4,#forecastDiv5 {
   
    align-content: center;
    /* width: 150px;
    height: 150px; */
    margin: 5px;
    padding: 5px;
    background-color: #17a2b8; 
    text-align: center;
    
}

.temperature, #temperature1 { 
    margin-top: 5px;
    font-size: 15px; 
    text-align: center;

}

#recentSearches{
    margin-top: 5px;
    margin-bottom: 5px;
    
}

 
  #date1, #date2, #date3 ,#date4, #date5, #date6  {

    text-align: center;
    } 
    .daysForecast{
        margin:auto;
    }

    #footer {
        margin-top: 20px;
      }
  
 /*
  These rules take effect when the browser's width
  is either 400px or less.
*/
@media screen and (max-width: 400px) {
    #recentSearches {
        display: none;
    }

    .mainContainer{
        align-content: center;
    }    
    #userCity{
        width: 100px;
    }
    #currentConditions{

        margin-top: 15px;

    } 
    #search{
        text-align: center;
    }

    #wicon{
        align-content: center;
    }
    #forecasth3{
        font-size: 20px;
        font-style: italic;
        text-align: center;
        
    }

  .daysForecast{
     margin:auto;
     
    }

    #forecastDiv1, #forecastDiv2 ,#forecastDiv3,#forecastDiv4,#forecastDiv5 {
   
    margin: auto;
    margin-bottom: 5px;
    border-radius: 25px;
    }

    h5 {
        margin-top: 5px !important; 
        
    }
}


    

